* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  /* mv *png "nom du dossier"*/
}

/* NAVBAR */
.navbar {
  background-color: #152237;
  width: 100%;
  height: 9vh;
  display: flex;
  align-items: center;
}

.navb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5%;
}

.navb p {
  color: white;
  margin-left: 2rem;
}

.searchbox input {
  background: #152237;
  color: white;
  border: 1px solid white;
  border-radius: 6px;
  padding: 8px 12px;
  width: 25vw;
  background-image: url(icone.png);
  background-repeat: no-repeat;
  background-position: 98% 50%;
}

.btnnav button {
  width: 130px;
  height: 40px;
  border-radius: 6px;
  margin-left: 20px;
}

#btnavz {
  background: linear-gradient(90deg, #44dd8a 19%, #15b7e2 100%);
}

#logop {
  display: none;
}

/* MAIN HERO */
.mainp {
  width: 100%;
  height: 64vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(
      90deg,
      rgba(68, 221, 138, 0.8),
      rgba(21, 183, 226, 0.8)
    ),
    url("bg-header.png");
  background-size: cover;
  text-align: center;

  button {
    height: 40px;
    width: 130px;
    border-radius: 6px;
    border: 0;
  }
}

.mainp h1 {
  font-size: 3rem;
}

.mainp h4 {
  margin: 1.5rem 0;
  font-size: 1.3rem;
}

/* SECTION POPULAIRE */
#formationpop {
  margin: 40px 0 40px 40px;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 5.5%;
}

.populaire {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
  padding-bottom: 40px;
  justify-content: space-evenly;
}

.card {
  width: 260px;
  position: relative;
}

.card img {
  border-radius: 8px;
}

.prix {
  position: absolute;
  background: black;
  color: white;
  padding: 6px 12px;

  display: flex;
  align-items: center;
  gap: 8px;
  bottom: 155px;
  left: 175px;
  border-radius: 93px;
}

.prix span {
  text-decoration: line-through;
  font-size: 0.8rem;
  opacity: 0.8;
}

.margcard {
  padding: 15px;
}

.stars {
  width: 120px;
  margin: 8px 0;
}

.sectf {
  margin: auto;
  text-align: center;
  width: 220px;
  padding: 10px;
  border-radius: 6px;
  background: black;
  margin-bottom: 30px;
}

.sectf a {
  color: white;
  font-weight: bold;
}
.card-img {
  position: relative;
}

.card-img img {
  width: 100%;
  border-radius: 8px;
}

#sectionrec {
  padding-top: 30px;
  background: #152237;
  color: white;
  padding-bottom: 51px;
}
.prix2 {
  position: absolute;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 6px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  bottom: 155px;
  left: 175px;
  border-radius: 93px;
  bottom: 135px;

  span {
    text-decoration: line-through;
    font-size: 0.8rem;
    opacity: 0.8;
  }
}
.sectf2 {
  margin: auto;
  text-align: center;
  width: 220px;
  padding: 10px;
  border-radius: 6px;
  background: rgb(255, 255, 255);

  a {
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
}
/* AVIS*/

#avis {
  margin-top: 56px;
  width: 100%;
  text-align: center;
  margin-bottom: 66px;
  font-size: 2rem;
}
.client {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  padding-bottom: 131px;
}
.clientsize {
  width: 690px;
  height: 306px;
}
#clientsz {
  border-radius: 50%;
}

/* section reverse*/

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  width: 100%;
  height: auto;
  gap: 71px;
  padding: 76px 103px 93px 98px;
}

.item {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-bottom: 5px;
  font-size: 1.4rem;
}

.itemlist {
  align-content: center;
  width: 685px;
  height: 352px;
}
#trickavantage {
  margin-bottom: 43px;

  font-size: 1.5rem;
}
#itemfix p {
  margin-left: 5px;
}
.row.reverse {
  flex-direction: row-reverse;
  background-color: #44dd8a;
  gap: 82px;
  width: 100%;
  height: auto;
  padding: 76px 87px 78px 101px;
}

.itemlist2 {
  align-content: center;
  /* width: 686px; */
  width: 50%;
  height: 372px;
  padding-left: 6%;
}
#avantag {
  width: 50%;
  height: 730px;
  align-content: center;
  text-align: center;
  background-color: black;
}
.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  gap: 61px;
}
.item2 {
  font-size: 1.1rem;
}

/* FORMULAIRE */

#secontact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 585px;
  margin-bottom: 77px;

  h2 {
    padding-top: 55px;
    padding-bottom: 39px;
  }
}

.formu {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 115px;
  padding-top: 55px;
  #name {
    width: 610px;
    height: 45.25px;
    background-color: #152237;
  }
  #mail {
    width: 610px;
    height: 45.25px;
    background-color: #152237;
  }
}
#msg {
  height: 194px;
  width: 100%;
  background-color: #152237;
}
.area {
  display: flex;
  justify-content: center;
  padding-top: 55px;
}
.envoyer {
  width: 351px;
  height: 45px;
  border-radius: 6px;
  background-color: #44dd8a;
}
.barre {
  background-color: #44dd8a;
  height: 2px;
  width: 85%;
  justify-self: center;
}
.barrelinear {
  background: linear-gradient(90deg, #44dd8a 19%, #15b7e2 100%);
  width: 100%;
  height: 16px;
  margin-bottom: 5%;
  display: flex;
}
#footer {
  width: 100%;
  height: 489px;
  display: grid;
  color: white;
  background-color: #152237;
  button {
    width: 130px;
    height: 40px;
    border-radius: 6px;
    margin-left: 20px;
  }
}

.foot {
  display: flex;
  justify-content: space-between;
  width: 85%;
  justify-self: center;
  margin-bottom: 28px;
}

.buttonf {
  display: grid;
  align-content: center;
  gap: 12px;
  margin-bottom: 30px;
}
.Coordonnées {
  display: grid;
  h5 {
    font-size: 1rem;
    margin-bottom: 10%;
  }
  img {
    width: 30px;
    height: 30px;
  }
}
.mentioncoord {
  display: flex;
  gap: 85px;
  margin-top: 2%;
}
.itemc {
  display: flex;
  align-items: center;
  gap: 24px;
}
.basfooter {
  display: flex;
  width: 85%;
  justify-content: space-between;
  justify-self: center;
  align-items: baseline;
  margin-bottom: 6%;
}
.suiveznous {
  display: flex;
  align-items: center;
  gap: 22px;
  img {
    width: 30px;
    height: 30px;
  }
}

/* RESPONSIVE */

@media (max-width: 1000px) {
  .hidden_below {
    display: none;
  }
  #logop {
    display: block;
    width: 40px;
  }

  .populaire {
    margin-right: 10%;
  }
  .client {
    text-align: center;
    margin-left: 30px;
    margin-right: 22px;
  }

  /* ---------- SECTIONS AVANTAGES / REVERSE ---------- */
  .mediaqsr {
    width: 100%;
  }

  .row,
  .row.reverse,
  .row2 {
    flex-direction: column;
    padding: 40px 20px;
    gap: 40px;
    text-align: left;

    h2 {
      text-align: center;
    }
  }
  .row.reverse {
    flex-direction: column-reverse;
  }

  .itemlist,
  .itemlist2 {
    width: 100%;
    height: auto;
    padding: 0;
  }

  .item {
    font-size: 1.4rem;
    gap: 15px;
  }

  #avantage,
  #become {
    width: 100%;
    height: auto;
  }

  #avantag {
    width: 425px;
    height: 370px;

    img {
      width: 214px;
      height: 77px;
    }
  }

  /* ---------- FORMULAIRE ---------- */
  #secontact {
    height: auto;
    padding: 0 20px;

    form {
      width: 100%;
    }
    .barre {
      display: none;
    }
  }

  .formu {
    flex-direction: column;
    gap: 20px;
  }

  .formu #name,
  .formu #mail {
    width: 100%;
  }

  #msg {
    width: 100%;
  }

  .envoyer {
    width: 100%;
  }

  /* ---------- FOOTER ---------- */
  .foot {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
  }

  .mentioncoord {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .basfooter {
    display: none;
  }

  .buttonf {
    display: none;
  }
 
  .itemc {
    text-align: left;
  }
  .barre{
    display: none;
  }
}
